---
redirect_to: "https://tarko.pp.ua/"
layout: default
---
{% include hero.html %}

<!-- begin Alert -->
<style>
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
</style>

<body>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span> 
  <center>	
  <strong>Увага! Сайт працює у тестовому (інформаційному режимі).<br> Усі функції взаємодії користувачів зараз не обслуговуються операторами.</strong>
  </center>	  
</div>
</body> <br><br>
<!-- begin Alert -->

<div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">Новини</h4>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	{% if site.posts.size > 0 %}
		{% for post in paginator.posts %}
			{% include article-content.html %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% include pagination.html %}
