<!-- begin footer -->

<!-- ThreeLowerButtons -->
<style>
.btn-group button {
    background-color: #337ab7; /* Blue background */
    border: 1px solid #296292; /* Blue border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #296292;
}
</style>
<body>
<div class="btn-group" style="width:100%">
  <button style="width:33.3%">Довідка</button>
  <button style="width:33.3%">Партнери</button>
  <button style="width:33.3%">Відгуки</button>
</div>
</body>
<!-- ThreeLowerButtons -->

<footer class="footer">

<!-- BeginButtons -->  
<style>
.btn {
    border: 1px solid black;
    color: white;
    padding: 14px 28px;
    margin: 2px 0px 2px 0px;
    font-size: 16px;
    cursor: pointer;
}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}
</style>

<body>
<button class="btn default">Оферта</button>
<button class="btn default">Оплата</button>
<button class="btn default">Доставка</button>
<button class="btn default">Повернення</button>
<button class="btn default">Акції</button> 
</body>
<!-- BeginButtons -->  
  
<div class="container">
    <br> <div class="copyright">Авторське право &copy; {{site.time | date: '%Y'}} "Tarko" <br> Всі Права Захищено.</div>
</div>
</footer>
<!-- end footer -->
