<!-- begin footer -->
<footer class="footer">

<!-- BeginButtons -->  
<style>
.btn {
    border: 1px solid black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}
</style>

<body>
<button class="btn default">Оферта</button>
<button class="btn default">Оплата</button>
<button class="btn default">Доставка</button>
<button class="btn default">Повернення</button>
<button class="btn default">Акції</button>
 <br>    
</body>
   
<!-- BeginButtons -->  
  
  <div class="container">

    {% if site.data.settings.mailchimp %}
    {% include subscribe.html %}
    {% else %} {% endif %}

    {% if site.data.settings.instagram %}
    {% include instagram.html %}
    {% else %} {% endif %}

    {% include contact-link.html %}

    <div class="copyright">Авторське право &copy; {{site.time | date: '%Y'}} "Tarko" <br> Всі Права Захищено.</div>
</div>
</footer>
<!-- end footer -->
