.contact {
  .contact__list {
    li {
      margin-left: 15px;
      display: inline-block;

      a {
        font-size: 30px;
        color: #005BBB;
        &:hover {
          color: #000;
        }
      }
    }
  }
}